<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GROUPIE-TRACKER</title>
    <link rel="stylesheet" href="../static/css/styles.css" />

    <script src="https://api-maps.yandex.ru/2.1/?apikey=dfe6e27c-932d-4e77-9f41-1d30f9cdfcf8&lang=ru_RU"></script>

    <script>
       ymaps.ready(function () {
          const map = new ymaps.Map(
              document.getElementById('map'),
              {
                  center: [37.588144, 55.733842],
                  zoom: 2
              }
          );
          {{range $v := .Markers}}
          map.geoObjects.add(new ymaps.Placemark([{{$v.Y}}, {{$v.X}}],{balloonContent: "{{$v.Country}}/{{$v.City}}",},{draggable: true,}));
          // Второй маркер
          {{end}}
          map.controls.remove('searchControl');
          map.controls.remove('trafficControl');
          map.controls.remove('layersControl');
          map.controls.remove('zoomControl');
          map.controls.remove('geolocationControl');
      })
    </script>
  </head>
  <body>
    <header class="header container">
      <div class="header__div">
        <div class="header__logo">
          <p>// music group</p>
        </div>
        <div class="header__main pageartist">
          <div class="block1">
            <a class="header__alm" href="https://alem.school/" target="_blank" >AL&#123;M</a>
          </div>
          <div class="block2">
            <div class="line__header"></div>
        </div>
        </div>
        <div class="header__home">
          <a href="/">home</a>
        </div>
      </div>
    </header>
    <div class="line"></div>
    {{if .}}
    <section class="main container">
      <div class="artist__content">
        <div class="artist__label">
          <h2 class="artist__name">{{.Name}}</h2>
          <img class="band__banner" src="{{.Image}}" alt="artist{{.Name}}" />
          <p class="artist__create">Creation date / {{.CreationDate}}</p>
          <p class="artist__first">First album / {{.FirstAlbum}}</p>
        </div>
        <div class="artist__members">
          <h3>Members:</h3>
          <ul class="list">
            {{range $i, $v:= .Members}}
            <li>{{$v}}</li>
            {{end}}
          </ul>
        </div>
        <div class="artist__location">
          <h3>Location:</h3>
          <ul>
            {{range $locations, $concert_dates:= .Relations}}
            <li>
              {{$locations}} /
              <ul class="artist__city">
                {{range $i2, $date:=$concert_dates}}
                <li>{{$date}}</li>
                {{end}}
              </ul>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
      <div id="map" class="map"></div>
    </section>
    {{end}}
    <footer class="footer">
      <div class="container contfooter">
        <div class="footer__contacnt">
          <p class="footer__hub">Github /</p>
          <a
            class="footer__link"
            href="https://github.com/GoArtyom"
            target="_blank"
            >GoArtyom</a
          >
          <a
            class="footer__link"
            href="https://github.com/grenkoff"
            target="_blank"
            >grenkoff</a
          >
          <a
            class="footer__link"
            href="https://github.com/NordStream777"
            target="_blank"
            >NordStream777</a
          >
        </div>
        <div class="footer__main">
          <p class="footer__art">&#123; 2023 Artyom Echeistov &#125;</p>
        </div>
        <div class="footer__last">
          <a
            class="footer__link"
            href="https://github.com/01-edu/public/blob/master/subjects/groupie-tracker/README.md"
            target="_blank"
            >About project</a
          >
          <a
            class="footer__link"
            href="https://github.com/01-edu/public/blob/master/subjects/groupie-tracker/audit/README.md"
            target="_blank"
            >Helps</a
          >
          <p class="footer__hub">// MD 2023</p>
        </div>
      </div>
    </footer>
  </body>
</html>