<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GROUPIE-TRACKER</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    
    <script src="https://api-maps.yandex.ru/v3/?apikey=dfe6e27c-932d-4e77-9f41-1d30f9cdfcf8&lang=ru_RU"></script>
    <script>
        ymaps.ready(init);

function init() {
    const map = new ymaps.Map(
        document.getElementById('map'),
        {
            center: [37.588144, 55.733842],
            zoom: 2
        }
    );

    // Первый маркер
    {{range $v:= .Markers}}
    const marker{{$v.City}} = new ymaps.Placemark(
        [{{$v.X}}, {{$v.Y}}],
        {
            balloonContent: "{{$v.Country}} {{$v.City}}",
        },
        {
            draggable: true,
        }
    );
    map.geoObjects.add(marker{{$v.City}});
    {{end}}

    // Второй маркер
    // const marker2 = new ymaps.Placemark(
    //     [40.5, 55.8],  // Ваши координаты для второго маркера
    //     {
    //         balloonContent: "I'm marker 2!",
    //     },
    //     {
    //         draggable: true,
    //     }
    // );
    // map.geoObjects.add(marker2);

    // Удаление ненужных элементов управления
    map.controls.remove('searchControl');
    map.controls.remove('trafficControl');
    map.controls.remove('layersControl');
    map.controls.remove('zoomControl');
    map.controls.remove('geolocationControl');
}
    </script>
  </head>
  <body>
    <header class="header">
      <a class="header__brand" href="/" alt="home">
        <h1>GROUPIE-TRACKER</h1>
      </a>
    </header>
    {{if .}}
    <section class="container">
      <div class="artist__content">
        <h2>{{.Name}}</h2>
        <img src="{{.Image}}" alt="artist{{.Name}}" />
        <h3>Members</h3>
        <ul>
          {{range $i, $v:= .Members}}
          <li>{{$v}}</li>
          {{end}}
        </ul>
        <p>Creation date: {{.CreationDate}}</p>
        <p>First album: {{.FirstAlbum}}</p>
        <h3>Location</h3>
        <ul>
          {{range $locations, $concert_dates:= .Relations}}
          <li>
            {{$locations}}:
            <ul>
              {{range $i2, $date:=$concert_dates}}
              <li>{{$date}}</li>
              {{end}}
            </ul>
          </li>
          {{end}}
        </ul>
        <div id="map" style="width: 600px; height: 400px"></div>
      </div>
      
    </section>
    {{end}}

    <footer class="footer">
      <div class="container">
        <h3 class="footer__title">Follow us on Github.com:</h3>
        <a class="footer__link" href="https://github.com/GoArtyom" target="_blank">GoArtyom</a>
        <a class="footer__link" href="https://github.com/grenkoff" target="_blank">grenkoff</a>
      </div>
    </footer>
  </body>
</html>
