<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GROUPIE-TRACKER</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    
    <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=dfe6e27c-932d-4e77-9f41-1d30f9cdfcf8&lang=ru_RU"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script> -->
    <!-- <link href="https://yandex.st/bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet"> -->
      <script>
      ymaps.ready(function () {
          const map = new ymaps.Map(
              document.getElementById('map'),
              {
                  center: [37.588144, 55.733842],
                  zoom: 2
              }
          );
          ListBoxLayout = ymaps.templateLayoutFactory.createClass(
            "<button id='my-listbox-header' class='btn btn-success dropdown-toggle' data-toggle='dropdown'>" +
                "City<span class='caret'></span>" +
            "</button>" +
            
            
            
            "<ul id='my-listbox'" +
                " class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu'" +
                " style='display: {% if state.expanded %}block{% else %}none{% endif %};'></ul>", {

            build: function() {
                
                
                ListBoxLayout.superclass.build.call(this);

                this.childContainerElement = $('#my-listbox').get(0);
                
                
                this.events.fire('childcontainerchange', {
                    newChildContainerElement: this.childContainerElement,
                    oldChildContainerElement: null
                });
            },

            
            
            getChildContainerElement: function () {
                return this.childContainerElement;
            },

            clear: function () {
                
                
                
                
                this.events.fire('childcontainerchange', {
                    newChildContainerElement: null,
                    oldChildContainerElement: this.childContainerElement
                });
                this.childContainerElement = null;
                
                
                ListBoxLayout.superclass.clear.call(this);
            }
        }),

        
        ListBoxItemLayout = ymaps.templateLayoutFactory.createClass(
            "<li><a>data.content</a></li>"
        )

        
        let listBoxItems = [];
        listBoxItems.push( new ymaps.control.ListBoxItem({
                data: {
                    content: 'Москва',
                    center: [55.751574, 37.573856],
                    zoom: 9
                }
            }),)
    listBoxItems.push( new ymaps.control.ListBoxItem({
                data: {
                    content: 'Омск',
                    center: [54.990215, 73.365535],
                    zoom: 9
                }
            }))
        
        listBox = new ymaps.control.ListBox({
                items: listBoxItems,
                data: {
                    title: 'Выберите пункт'
                },
                options: {
                    
                    layout: ListBoxLayout,
                    
                    
                    
                    itemLayout: ListBoxItemLayout
                }
            });

        listBox.events.add('click', function (e) {
            
            
            
            var item = e.get('target');
            
            if (item != listBox) {
                map.setCenter(
                    item.data.get('center'),
                    item.data.get('zoom')
                );
            }
        });

    map.controls.add(listBox, {float: 'left'});






          
          map.geoObjects.add(new ymaps.Placemark([ -22.253356 ,  166.46597 ],{balloonContent: "New Caledonia/Noumea",},{draggable: true,}));
          
          
          map.geoObjects.add(new ymaps.Placemark([ -17.539195 ,  -149.556757 ],{balloonContent: "French Polynesia/Town of Papeete",},{draggable: true,}));
          
          
          map.geoObjects.add(new ymaps.Placemark([ 18.692716 ,  -91.697195 ],{balloonContent: "Campeche, Mexico/Isla del Carmen",},{draggable: true,}));
          
          
          
          map.controls.remove('searchControl');
          map.controls.remove('trafficControl');
          map.controls.remove('layersControl');
          map.controls.remove('zoomControl');
          map.controls.remove('geolocationControl');
      })
    </script>
  </head>
  <body>
    <header class="header container">
      <div class="header__div">
        <div class="header__logo">
          <p>// music group</p>
        </div>
        <div class="header__main pageartist">
          <div class="block1">
            <a class="header__alm" href="https://alem.school/" target="_blank" >AL&#123;M</a>
          </div>
          <div class="block2">
            <div class="line__header"></div>
        </div>
        </div>
        <div class="header__home">
          <a href="indexStatic.html">home</a>
        </div>
      </div>
    </header>
    <div class="line"></div>
    <section class=" main container">
      <div class="artist__content">
        <div class="artist__label">
          <h2 class="artist__name">SOJA</h2>
          <img class="band__banner" src="https://groupietrackers.herokuapp.com/api/images/soja.jpeg" alt="artistSOJA" />
          <p class="artist__create">Creation date: 1997</p>
          <p class="artist__first">First album: 05-06-2002</p>
        </div>
        <div class="artist__members">
          <h3>Members:</h3>
          <ul class="list">
          
            <li>Jacob Hemphill</li>
          
            <li>Bob Jefferson</li>
          
            <li>Ryan &#34;Byrd&#34; Berty</li>
          
            <li>Ken Brownell</li>
          
            <li>Patrick O&#39;Shea</li>
          
            <li>Hellman Escorcia</li>
          
            <li>Rafael Rodriguez</li>
          
            <li>Trevor Young</li> 
          </ul>
        </div>
        <div class="artist__location">
          <h3>Location:</h3>
          <ul>
            <li>
            noumea-new_caledonia /
              <ul class="artist__city">
              
                <li>15-11-2019</li>
              
              </ul>
            </li>
          
            <li>
            papeete-french_polynesia /
              <ul class="artist__city">
              
              <li>16-11-2019</li>
              
            </ul>
          </li>
          
          <li>
            playa_del_carmen-mexico /
            <ul class="artist__city">
              
              <li>05-12-2019</li>
              
              <li>06-12-2019</li>
              
              <li>07-12-2019</li>
              
              <li>08-12-2019</li>
              
              <li>09-12-2019</li>
              
              
            </ul>
          </li>
        </ul>
        </div>
      </div>
      <div id="map"></div>
    </section>
    

    <footer class="footer">
      <div class="container contfooter">
        <div class="footer__contacnt">
          <p class="footer__hub">Github / </p>
          <a class="footer__link" href="https://github.com/GoArtyom" target="_blank">GoArtyom</a>
          <a class="footer__link" href="https://github.com/grenkoff" target="_blank">grenkoff</a>
          <a class="footer__link" href="https://github.com/NordStream777" target="_blank">NordStream777</a>
        </div>
        <div class="footer__main">
          <p class="footer__art">&#123; 2023 Artyom Echeistov &#125;</p>
        </div>
        <div class="footer__last">
          <a class="footer__link" href="https://github.com/01-edu/public/blob/master/subjects/groupie-tracker/README.md" target="_blank">About project</a>
          <a class="footer__link" href="https://github.com/01-edu/public/blob/master/subjects/groupie-tracker/audit/README.md" target="_blank">Helps</a>
          <p class="footer__hub">// MD 2023 </p>
        </div>
      </div>
    </footer>
  </body>
</html>
