<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GROUPIE-TRACKER</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <header class="header container">
      <div class="header__div">
        <div class="header__logo">
          <p>// music group</p>
        </div>
        <div class="header__main">
          <a class="header__alm" href="https://alem.school/" target="_blank">AL&#123;M</a>
          <form action="#" class="header__input">
            <p>&#123;</p>
            <!-- <input type="search"> -->
            <!-- search start -->
         <input type="text" id="myInput" onkeyup="myFunction()">
            <ul id="myUL" style="display: none;">
                {{range $i1, $v := .}}
                <li><a href="/artist?id={{$v.ID}}">"{{$v.Name}}"</a></li>
                <li><a href="/artist?id={{$v.ID}}">"{{$v.Name}}/{{$v.CreationDate}}"</a></li>
                <li><a href="/artist?id={{$v.ID}}">"{{$v.Name}}/{{$v.FirstAlbum}}"</a></li>
      
                    {{range $i2, $artist := $v.Members}}
                <li><a href="/artist?id={{$v.ID}}">"{{$v.Name}}/{{$artist}}"</a></li>
                    {{end}}
      
                    {{range $locations, $concert_dates:= $v.Relations}}
                <li><a href="/artist?id={{$v.ID}}">"{{$v.Name}}/{{$locations}}"</a></li>
                        {{range $i3, $date:=$concert_dates}}
                <li><a href="/artist?id={{$v.ID}}">"{{$v.Name}}/{{$date}}"</a></li>
                        {{end}}
                    {{end}}
      
                {{end}}    
            </ul> 
            <!-- search end -->
            <p>&#125;</p>
            <button class="headersvg">
          </button>
          </form>
          <p class="header__filtres">filters</p>
        </div>
        <div class="header__home">
          <a href="/"> home</a>
        </div>
      </div>
    </header>

    <div class="line"></div>
    {{if .}}
    <section class="content container">
        {{range $i, $v := .}}
      <a class="band" href="/artist?id={{$v.ID}}" alt="{{$v.Name}}">
        <img class="band__banner" src="{{$v.Image}}" alt="banner of {{$v.Name}}"/>
        <h2 class="band__name">{{$v.Name}}</h2>
      </a>
      {{end}}
    </section>
    {{end}}
    <footer class="footer">
      <div class="container contfooter">
        <div class="footer__contacnt">
          <p class="footer__hub">Github / </p>
          <a class="footer__link" href="https://github.com/GoArtyom" target="_blank">GoArtyom</a>
          <a class="footer__link" href="https://github.com/grenkoff" target="_blank">grenkoff</a>
          <a class="footer__link" href="https://github.com/NordStream777" target="_blank">NordStream777</a>
        </div>
        <div class="footer__main">
          <p class="footer__art">&#123; 2023 Artyom Echeistov &#125;</p>
        </div>
        <div class="footer__last">
          <a class="footer__link" href="https://github.com/01-edu/public/blob/master/subjects/groupie-tracker/README.md" target="_blank">About project</a>
          <a class="footer__link" href="https://github.com/01-edu/public/blob/master/subjects/groupie-tracker/audit/README.md" target="_blank">Helps</a>
          <p class="footer__hub">// MD 2023 </p>
        </div>
      </div>
    </footer>
      <!-- start script search -->
      <script>
        function myFunction() {
            // Получаем значение из поля ввода
            var input, filter, ul, li, a, i;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById('myUL');
            li = ul.getElementsByTagName('li');
    
            // Перебираем элементы списка и скрываем те, которые не соответствуют поисковому запросу
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName('a')[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = '';
                } else {
                    li[i].style.display = 'none';
                }
            }
    
            // Показываем или скрываем весь список в зависимости от наличия совпадений
            if (filter === "") {
                ul.style.display = 'none';
            } else {
                ul.style.display = 'block';
            }
        }
    </script>
    <!-- end script search -->
  </body>
</html>