@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

body{
    margin: 0;
    border-top: 1px solid;

}
p{
    color: #1E1C1C;
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 48px;
    margin: 0;
    }

a{
    text-decoration: none;
    color: #1E1C1C;
    font-family: DM Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px; /* 300% */ 
}

a:hover,
a:focus{
    text-decoration: overline;
}

h2{
    max-height: 71px;
    color: #1E1C1C;
    text-align: center;
    font-family: 'DM Mono';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

h3{
    color: #1E1C1C;
    font-family: 'DM Mono', monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.84px;
    margin: 0;
    display: block;
}

input{
    height: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px, solid, #1E1C1C;
    margin: 0 3px;
    min-width: 200px;
}

ul{
    padding-left: 0;
}

li{
    color: #1E1C1C;
    font-family: 'DM Mono';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24.12px; /* 150.75% */
    margin-bottom: 10px;
    position: relative;
    list-style-type: none;
}

.list li::before {
    content: "";
    width: 9px;
    height: 1px;
    
    background-color: #1E1C1C;
    position: absolute;
    left: -15px;
    top: 12px;
}

div{ 
    background-color:white;
}

    .container, .container-fluid {
        width: 100%;
        margin: 0 auto;
    }
    
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    } 
    
.header__div{
    display: flex;
    justify-content: space-between;
    height: 106px;
    background-color: white;
    align-items:flex-end, baseline;
    
}

.header__logo{
    flex-grow: 0;
    border-right: 1px solid;
    padding: 25px 28px 0 28px;
    background-color:white;
}

.header__main{
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    background-color:white;
    padding: 0 21px;
}

.header__input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.header__home{
    padding: 0 28px;
    flex-grow: 0;
    border-left: 1px solid;
    padding-top: 25px;
}

.headersvg{
    width: 16px;
    height: 17px;
    background-image: url(../../static/img/Vector.svg) ;
    margin-left: 7px;
    border: none;
    background-color:white;
}

.header__alm{
    color: #1E1C1C;
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 48px;
}

.header__filtres{
    margin-top: 64px;
}

.line{
    height: 1px;
    background-color: #1E1C1C;
}

.line__header{
    display: block;
    margin-top: 52px;
    margin-right: 324px;
    height: 1px;
    width: 230px;
    background-color:#1E1C1C;
}

.content{
    margin-top: 75px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
    padding-left: 100px;
    
}

.band{
    border:1px solid #1E1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    text-decoration: none;
}

.band:hover{
    text-shadow: 0 0 3px rgb(197, 21, 159);
    color: rgb(197, 21, 159);
    border: 1px solid rgb(197, 21, 159);
    text-decoration: none;

}
.band__banner{
    border-bottom: 1px solid #1E1C1C;
    filter: grayscale(80%);
    background-color: rgba(17, 23, 40, 0.80);
    background-blend-mode: color;
}


.footer{
    border-top: 1px solid;
    margin-top: 25px;
}
.contfooter{
    max-height: 151px;
    display: flex;
    justify-content: space-between;

}

.footer__contacnt{
    padding: 15px 15px 24px 0;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
    border-right: 1px solid;
}
.footer__hub{
    margin: 0;
    color: #1E1C1C;
    font-family: 'DM Mono';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.84px; /* 198.857% */
}

.footer__art{
    margin-top: 120px;
    color: #1E1C1C;
    text-align: center;
    font-family: "DM Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.84px; /* 198.857% */
}

.footer__last{
    padding: 15px 0 24px 15px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
    border-left: 1px solid;
}

.footer__link{
    color: #1E1C1C;
    font-family: 'DM Mono';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.84px; /* 198.857% */
}

.main{
    border: 1px solid;
    margin-top: 42px;
    max-width: 1064px;
    padding-bottom: 72px;
    margin-bottom: 112px;
}
.artist__content{
    padding-left: 53px;
    display: flex;
    justify-content: space-between;
    padding-right: 23px;
}

.artist__label{
    margin-top: 52px;
}

.artist__name{
    font-weight: 500;
    line-height: 39.44px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 28px;
}

.artist__create{
    height: 22px;
    margin-top: 20px;
    line-height: 24.12px
}

.artist__first{
    height: 21px;
    margin-top: 20px;
    line-height: 24.12px
}

.artist__members{
    margin-top: 77px;
    display: flex;
    flex-direction: column;
}

.list{
    padding-left: 15px;
}

.artist__location{
    margin-top: 77px;
    display: flex;
    flex-direction: column;
}

.artist__city > li{
    margin-left: 20px;
}
.artist__location > ul >li{
    margin-bottom: 0;
}

#map{
    max-width: 920px;
    max-height: 460px;
    margin: 108px auto 0 auto;
    border: 1px solid;
}