@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --white: #ffffff;
    --primary-darkest: #4429CC;
    --primary-dark: #4D2EE5;
    --primary-base: #5533FF;
    --primary-light: #8066FF;
    --primary-lightest: #AA99FF;
    --semantic-info-darkest: #268CCC;
    --semantic-info-dark: #2B9DE5;
    --semantic-info-base: #30AFFF;
    --semantic-info-light: #61C2FF;
    --semantic-info-lightest: #94D6FF;
    --semantic-error-darkest: #CC2D52;
    --semantic-error-dark: #E5325D;
    --semantic-error-base: #FF3867;
    --semantic-error-light: #FF6B8E;
    --semantic-error-lightest: #FF9EB5;
    --semantic-success-darkest: #19B074;
    --semantic-success-dark: #1DC985;
    --semantic-success-base: #21E496;
    --semantic-success-light: #4EE9AB;
    --semantic-success-lightest: #7BEFC1;
    --semantic-warning-darkest: #CC9532;
    --semantic-warning-dark: #E5A739;
    --semantic-warning-base: #FFBA3F;
    --semantic-warning-light: #FFCC70;
    --semantic-warning-lightest: #FFDEA3;
    --neutral-black-darkest: #000000;
    --neutral-black-dark: #060317;
    --neutral-black-base: #060024;
    --neutral-black-light: #080030;
    --neutral-black-lightest: #0A003D;
    --neutral-light_gray-darkest: #DAE7F1;
    --neutral-light_gray-dark: #E1ECF4;
    --neutral-light_gray-base: #E9F1F7;
    --neutral-light_gray-light: #F0F6F9;
    --neutral-light_gray-lightest: #F7FAFC;
    --neutral-dark_gray-darkest: #193143;
    --neutral-dark_gray-dark: #21425A;
    --neutral-dark_gray-base: #295270;
    --neutral-dark_gray-light: #316286;
    --neutral-dark_gray-lightest: #39739D;
    --font-family: 'Lato', sans-serif;
    --transition: 0.5s;
    --shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  }



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.34;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    color: var(--neutral-dark_gray-darkest);
    background-color: var(--neutral-light_gray-lightest);
}

h1, h2, h3 {
    color: var(--neutral-black-darkest);
    font-weight: 900;
    line-height: 1.16;
}

h1 { font-size: 48px; }
h2 { font-size: 34px; }
h3 { font-size: 24px; }

.caption {
    color: var(--neutral-black-lightest);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
}

a {
    color: var(--primary-base);
    text-decoration: none;
    background-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}


a:hover {
    color: var(--primary-lightest);
    text-decoration: underline;
}

.container, .container-fluid {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}

/* Header */
.header {
    width: 100%;
    height: auto;
    min-height: 120px;
    box-shadow: var(--shadow);
    margin-bottom: 24px;
}

.header__brand {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-dark);
    border-bottom: 12px solid transparent;
    padding: 0 16px;
    text-align: center;
}

.header__brand:hover {
    text-decoration: none;
    background: transparent;
    border-bottom: 12px solid var(--primary-dark);
}

.header__brand h1 {
    color: var(--neutral-light_gray-lightest);
    line-height: 1em;
}

.header__brand:hover h1 {
    color: var(--primary-dark);
}

/* Band styles */
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}


.band {
    width: 240px;
    height: auto;
    display: flex;
    margin: 24px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 6px;
    transition: var(--transition);
    border-bottom: 8px solid transparent;
}

.band:hover {
    border-bottom: 8px solid var(--primary-darkest);
    transform: translate(0, -12px);
    text-decoration: none;
}

.band__banner {
    width: 240px;
    height: auto;
    border-radius: 6px 6px 0 0;
}

.band__name {
    padding: 0 14px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    word-wrap: break-word;
}

/* Footer */
.footer {
    width: 100%;
    height: 100%;
    min-height: 120px;
    padding: 32px 0;
    margin-top: 24px;
    background-color: var(--neutral-light_gray-dark);
}

.footer__link {
    margin-right: 24px;
}

/* Error */
.error {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 24px 14px;
    max-width: 320px;
    min-height: 200px;
    background: var(--white);
    border-bottom: 24px solid var(--semantic-error-darkest);
    border-radius: 4px;
    box-shadow: var(--shadow);
}

.error__title {
    line-height: 0;
}

.error__content {
    word-wrap: break-word;
    margin-bottom: 32px;
}

.button {
    padding: 10px 16px;
    line-height: 0;
    color: var(--neutral-light_gray-base);
    background-color: var(--primary-base);
    border: 2px solid var(--primary-base);
    border-radius: 4px;
    text-decoration: none;
    transition: var(--transition);
}
.button:hover {
    background: transparent;
    color: var(--primary-base);
    text-decoration: none;
}

.button-error {
    background-color: var(--semantic-error-base);
    border: 2px solid var(--semantic-error-base);
}

.button-error:hover {
    color: var(--semantic-error-base);
}

.button-success {
    background-color: var(--semantic-success-base);
    border: 2px solid var(--semantic-success-base);
}

.button-success:hover {
    color: var(--semantic-success-base);
}

.button-warning {
    background-color: var(--semantic-warning-base);
    border: 2px solid var(--semantic-warning-base);
}

.button-warning:hover {
    color: var(--semantic-warning-base);
}

.button-info {
    background-color: var(--semantic-info-base);
    border: 2px solid var(--semantic-info-base);
}

.button-info:hover {
    color: var(--semantic-info-base);
}


.artist__content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 24px 14px;
    min-height: 200px;
    background: var(--white);
    border-bottom: 24px solid var(--semantic-success-dark);
    border-radius: 4px;
    box-shadow: var(--shadow);
}

/* filter start */


/* contener for filter */
.pt{
    flex-shrink: 0;
    position: sticky;
    top: 0;
    height: fit-content;
    left: 0;
    width: 400px;
}

/* slider */
.wrapper{
    border-bottom: 1px dashed #999;
    padding-bottom: 50px;
  }
  .wrapper.location{
    border-bottom:none;
    padding-bottom: 0;
  }
   .wrapper h2{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }
  .field span:first-child{
    font-weight: bold;
  }
  .price-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .price-input .field{
    display: flex;
    align-items: center;
  }
  .field .f{
    width: 80px;
    height: 50px;
    outline: none;
    font-size: 19px;
    margin-left: 15px;
    border-radius: 15px;
    text-align: center;
    -moz-appearance: textfield;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.container-range{
    position: relative;
    width: 100%;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #272b33;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #272b33;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #272b33;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #272b33;
}
.values{
    background-color: #272b33;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #272b33;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

/* members */
.members__items input {
    display: none;
}
.members__items label {
    display: inline-block;
    border: 1px solid #202329;
    padding: 0 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.members__items  input:checked+label {
    color: #fff;
    background-color: #202329;
  }

  /* end */
  .search {
    justify-content: space-between;
    position: relative;
    /* margin-top: 0.75rem; */
    /* width: 100%; */
}
.search input{
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    background: #FFF;
    border-radius: .8rem;
    margin-right: -46px;
    height: 51px;
    font-size: 16px;
}
.search button{
    flex-shrink: 0;
    padding: 5px !important;
    border-radius: .8rem;
    border: none;
    width: 51px;
    height: 51px;
    background: #202329;
    cursor: pointer;
    
}
.search button svg{
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}
.search button svg path{
    stroke: #fff;
}
.search button:hover svg{
    transform: rotate(90deg);
}

.dark.search input{
    background: #202329;
    color: #FFF;
}
.dark.search button{
    background: #fff;
    border: 1px solid #202329;
}
.dark.search button  svg path{
    stroke: #202329;
}
.ulbams_contain {
    display: flex;
}
/*  */
.submit{
    width: 100%;
    height: 50px;
    background: #202329;
    color: #fff;
    border: none;
    border-radius: .8rem;
    font-size: 18px;
    cursor: pointer;
}
/*  */
.form__search {
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: 2.8rem;
    color: #fff;
    border-radius: .8rem;
    background: var(--color-g-bg-tertiary);
    transition: border-color .1s ease-in-out;
}

input[type="text"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 2.4rem 0 .8rem;
    font-family: inherit;
    font-size: .9rem;
    border: none;
    outline: none;
    background: 0 0;
    color: var(--color-g-text-primary);
}
/* filter end */